body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: #ffecf0;
}

header {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.header-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#background-video {
    width: 75%;
    height: auto;
    object-fit: contain; /* Ensures the entire video shows within the viewport */
    display: block;
    margin: 0 auto; /* Center the video horizontally */
}

.content {
    text-align: center;
    color: #ff69b4;
    padding: 20px;
}

h1 {
    font-family: 'Ice Cream Parlor', sans-serif;
    font-size: 3em;
    color: #ff69b4;
    margin: 20px 0;
}

p {
    font-size: 1.5em;
    color: #ff69b4;
    margin: 20px 0;
}

.follow-button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.follow-button:hover {
    background-color: #ff8fcf;
}

.soundcloud {
    margin: 20px 0;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #ff69b4;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
}

.twitter-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('https://upload.wikimedia.org/wikipedia/en/6/60/Twitter_Logo_as_of_2021.svg') no-repeat center;
    background-size: cover;
    margin-left: 10px;
    vertical-align: middle;
}

body {
    cursor: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/209/soft-ice-cream_1f366.png'), auto;
}
