body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

header {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-image {
    width: 100px;
    height: auto;
    margin: 5px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.play-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.content {
    text-align: center;
    padding: 20px;
}

.follow-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .header-image {
        width: 80px;
    }

    .play-button {
        width: 80%;
    }
}

